body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  color: white;
  padding-left: 50px;
  font-family: 'Quicksand', sans-serif;
}

#title {
}

#select-options {
  display:flex;
  justify-content: center;

}

#select-options > * {
  -webkit-appearance: none;
  border: none
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  margin-bottom: 20px;
}
