body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  color: white;
  padding-left: 50px;
}

#title {
  width: 0;
  align-self:center;
}

#select-options {
  display:flex;
  justify-content: center;
}
