html {
  font-family: 'Quicksand', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  color: lightgrey;
  padding-left: 50px;
  font-family: 'Quicksand', sans-serif;
}

#title {
  margin: 0;
}

#select-options {
  display:flex;
  justify-content: center;
  flex-direction:row;
}

#select-options > * {
  -webkit-appearance: none;
  border: none
  font-family: 'Quicksand', sans-serif;
  font-size: 1vw;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: black;
  color: lightgrey;
  align-items: center;
  padding: 10px;
  text-align-last: center;
}

#defaultCanvas0 {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  align-self: center;
}

/* Dropdown Button */
.dropbtn {
    background-color: black;
    color: lightgrey;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    border: grey solid 1px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0.7;
}

/* Links inside the dropdown */
.dropdown-content span {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Quicksand', sans-serif;
}

/* Change color of dropdown links on hover */
.dropdown-content span:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    color: grey;
    border: none;
}
